<?xml version='1.0' encoding='utf-8'?>
<widget id="com.comunidadfusa.app" version="1.5.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fusa</name>
    <description>
        La aplicación Android de Comunidad Fusa. En Comunidad Fusa vas a conocer a tu próxima banda favorita.
    </description>
    <author email="info@comunidadfusa.com" href="http://www.comunidadfusa.com">
        Comunidad Fusa
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xff3b464d" />
    <preference name="android-build-tool" value="gradle" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="15" />
        <preference name="android-targetSdkVersion" value="25" />
        <icon qualifier="ldpi" src="res/android/icon/ldpi.png" />
        <icon qualifier="mdpi" src="res/android/icon/mdpi.png" />
        <icon qualifier="hdpi" src="res/android/icon/hdpi.png" />
        <icon qualifier="xhdpi" src="res/android/icon/xhdpi.png" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-music-controls" spec="^2.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova.plugins.diagnostic" spec="^3.6.6" />
    <plugin name="cordova-plugin-firebase" spec="0.1.22" />
    <plugin name="onesignal-cordova-plugin" spec="^2.1.2" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-facebook4" spec="~1.9.1">
        <variable name="APP_ID" value="1355985631175437" />
        <variable name="APP_NAME" value="Fusa" />
    </plugin>
</widget>
