<section class="hbox bg-white dker stretch">
    <aside class="col-sm-12 no-padder" id="sidebar">
        <section class="vbox animated fadeInUp">
            <section class="scrollable">
                <div id="fusa-portada-disco-actual" class="m-t-n-xxs item pos-rlt">
                    <div class="bottom gd bg-info wrapper-lg nombre-disco">
                        <span class="h2 font-thin fusa-js-titulo-disco"></span><br>
                    </div>
                    <img class="img-full fusa-js-imagen-disco" src="" >
                </div>
            </section>
        </section>
    </aside>
</section>
<section class="scrollable wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 thumb-btn text-center">
                    <div class="btn-group btn-group-justified">
                        <a data-id="" class="btn btn-success btn-rounded fusa-js-descargar-disco">
                            <span class="text">
                                <i class="fa fa-download"></i> Descargar
                            </span>
                        </a>
                        <a class="btn btn-info btn-rounded jp-play-me-disc" href="#" data-id="">
                            <i class="icon-control-play text"></i> 
                            <i class="icon-control-pause text-active"></i>
                            Reproducir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto fusa-js-lista-canciones-disco">
</ul>

<script id="cancion-disco-tmpl" type="text/html">
    <li class="list-group-item">
        <div class="pull-right m-l">
            {{if descargado}}
            <a href="#" class="fusa-js-quitar-descarga-cancion m-r-sm"  data-id="${id}">
                <i class="icon-check text-success"></i>
            </a>
            {{else}}
                {{if descargando}}
                <span class="m-r-sm">
                    <i class="icon-clock"></i>
                </span>
                {{else}}
                <a href="#" class="fusa-js-descargar-cancion m-r-sm"  data-id="${id}">
                    <i class=" icon-arrow-down "></i>
                </a>
                {{/if}}
            {{/if}}
        </div>
        <a href="#" class="jp-play-me-one m-r-sm pull-left" data-id="${id}">
            <i class="icon-control-play text"></i>
            <i class="icon-control-pause text-active"></i>  
        </a>
        <div class="clear text-ellipsis">
            <span>${nombreTema}</span>
        </div>
    </li>
</script>

<script type="text/javascript" src="js/app/ui/disco.js"></script>
<script type="text/javascript">
comunidadfusa.ui.disco.init();
</script>