<section class="hbox bg-black dker stretch fusa-escuchando">
    <aside class="col-sm-12 no-padder" id="sidebar">
        <section id="escuchando" class="vbox animated fadeInUp">
            <section class="scrollable">
                <div id="fusa-portada-banda-actual-escuchando" class="m-t-n-xxs item pos-rlt fusa-foto-perfil">
                </div>
                <ul id="escuchando-lista" class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                </ul>
            </section>
        </section>
    </aside>
</section>

<script id="escuchando-cancion-tmpl" type="text/html">
    {{each playlist}}
    <li class="list-group-item {{if $index == actual}}active{{/if}}" id="cancion_${$index}" data-index="${$index}" data-id="${id}">
        <a href="#" class='pull-right m-t-sm m-l text-md js-cancion-me-gusta' title='Me gusta'>
            <i class='fa {{if opinion}}text-success fa-thumbs-up{{else}}text-muted fa-thumbs-o-up {{/if}}'></i></a>
        <a href="#" class="jp-play-me-escuchando pull-left m-t-sm m-r text-md">
            <i class="icon-control-play text"></i>
            <i class="icon-control-pause text-active"></i></a>
        <a href="#" class="pull-left thumb-sm m-r jp-play-me-escuchando" >
            <img src="${poster}" alt="${artist}" onerror="this.src='images/default-thumbnail-1x1.jpg'"/></a>
        <a class="clear jp-play-me-escuchando" href="#">
            <span class="block text-ellipsis">${title}</span>
            <a href="banda.html?id=${idBanda}"  rel="ajax"><small class="text-muted text-ellipsis">por ${artist}</small></a></a>
    </li>
    {{/each}}
</script>

<script id="fusa-portada-tema-actual-tmpl" type="text/html">
    <div class="bottom gd bg-info wrapper-lg fusa-tema-actual">
        <a href="banda.html?id=${idBanda}" class="h2 font-thin" rel="ajax">${artist}</a>
    </div>
    <img class="img-full" src="${poster}" alt="${artist}" title="${artist}" onerror="this.src='images/default-thumbnail.jpg'">
</script>

<script type="text/javascript" src="js/app/ui/escuchando.js"></script>
<script type="text/javascript">
                comunidadfusa.ui.escuchando.init();
</script>