<section class="hbox stretch">
    <aside class="aside-lg bg-light lter b-r">
        <section class="vbox">
            <section class="scrollable">
                <div class="wrapper">
                    <div class="text-center m-b m-t">
                        <div class="thumb-lg">
                            <img src="" class="fusa-js-avatar-usuario thumb-lg img-circle" id="thumb-img"/>
                        </div>
                        <div class="fusa-js-perfil-apodo" class="h3 m-t m-b-xs"></div>
                        <small class="fusa-js-perfil-ciudad text-muted m-b"></small>
                    </div>
                </div>
            </section>
        </section>
    </aside>
    <aside id="fusa-js-musica-perfil-usuario" class="bg-white fusa-solapas-perfil">
        <section class="vbox">
            <header class="header bg-light lt">
                <ul class="nav nav-tabs nav-white">
                    <li class="active"><a href="#listas" data-toggle="tab">Listas</a></li>
                    <li class=""><a href="#escuchadas" data-toggle="tab">Más escuchadas</a></li>
                    <li class=""><a href="#siguiendo" data-toggle="tab">Siguiendo</a></li>
                </ul>
            </header>
            <section class="scrollable">
                <div class="tab-content">
                    <div class="tab-pane active" id="listas">
                        <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                            <li class="list-group-item" ng-class="{
                                        'show': listasReproduccion.length === 0}">
                                <span class="clear">
                                    Este usuario no tiene listas todavía.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="escuchadas">
                        <ul class="fusa-js-perfil-mas-escuchadas list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                            <li class="list-group-item">
                                <span class="clear">
                                    No escuchaste bandas todavía.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="siguiendo">
                        <ul class="fusa-js-perfil-siguiendo list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                            <li class="list-group-item">
                                <span class="clear">
                                    No estas siguiendo bandas todavía.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </aside>
</section>

<script id="perfil-lista-usuario-tmpl" type="text/html">
    <li class="list-group-item">
        <a href="#" class="thumb-sm pull-left m-r-sm jp-play-me-list" data-id="${id}">
            <i class="icon-control-play i-2x"></i>
        </a>
        <span class="pull-right h2 text-muted m-l">${orden}</span>
        <span class="clear">
            <span>${nombre}</span>
            <small class="text-muted clear text-ellipsis">
                ${cantidadTemas} temas - ${descripcion}
            </small>
        </span>
    </li>
</script>

<script id="fusa-js-banda-mas-escuchada-tmpl" type="text/html">
    <li class="list-group-item">
        <div class="pull-right text-center">
            <a href="#" class="jp-play-me" data-id="${Id}">
                <i class="fa fa-play-circle i-2x"></i>
            </a>
        </div>
        <span class="thumb-sm pull-left m-r-sm">
            <img src="http://www.comunidadfusa.com{{if Imagen}}${Imagen}{{else}}/uploads/bandas/thumbnail/DEFAULT_THUMB.jpg{{/if}}"  alt="${Nombre}" class="img-circle">
        </span>
        <strong class = "block">${Nombre}</strong>
        <small class="text-ellipsis">${Reproducciones} reproducciones</small>
    </li>
</script>
<script id="fusa-js-banda-siguiendo-tmpl" type="text/html">
    <li class="list-group-item">
        <div class="pull-right text-center">
            <a href="#" class="jp-play-me" data-id="${Id}">
                <i class="fa fa-play-circle i-2x"></i>
            </a>
        </div>
        <span class="thumb-sm pull-left m-r-sm">
            <img src="http://www.comunidadfusa.com{{if Imagen}}${Imagen}{{else}}/uploads/bandas/thumbnail/DEFAULT_THUMB.jpg{{/if}}"  alt="${Nombre}" class="img-circle">
        </span>
        <strong class = "block">${Nombre}</strong>
        <small class="text-ellipsis">${Ciudad}</small>
    </li>
</script>



<script type="text/javascript" src="js/app/ui/perfil.js"></script>
<script type="text/javascript">
                comunidadfusa.ui.perfil.init();
</script>