/****Sobrescritura de estilos del tema **/

body {
    font-size: 18px;    
}

small,
.small {
    font-size: 16px;
}

.text-sm {
    font-size: 16px;
}

.nav-primary.hidden-xs {
    font-size: 20px;
}

.fusa-solapas-perfil ul .list-group-item {
    min-height: 78px;
}

.btn {
    font-size: 18px;    
}

#contenedorInfoFusa {
    height: 80vh;
}


#login ul.error_list {
    list-style: none;
    padding: 0;
}

#escuchando-lista li a img {
    max-height: 40px;
}

@media (orientation: landscape) {
    .fusa-bread {
        margin-top: 0;
    }
}

.item-overlay {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.item-overlay.active,
.item:hover .item-overlay {
    display: block;
}

.item .opacity {
    background-color: rgba(0,0,0,0);
}

.item .img-item-banda {
    background-position: center;
}

.item-overlay a {
    color: white;
}

.fusa-disco .nombre-disco a {
    color: white;
}

.fusa-ciudad-banda {
    margin-top: 12px;
}

.item.item-disco {
    min-height: 180px;
}

.item-disco img {
    height: 140px;
}

.fusa-foto-perfil {
    display:block;
    max-height:250px;/*set an height */
    overflow:hidden;/* crops/cut off */
}

.nav-primary ul.nav > li > a.modo-offline {
    padding-right: 10px;
}

.modo-offline input {
    height: 18px;
    width: 18px;
    margin-top: 4px;
}

.navbar-header.aside.bg-black.lter.nav-xs {
    height: 50px;
}

.fusa-apodo-perfil {
    font-size: 22px;
}

.fusa-disco i,
.fusa-escuchando i{
    font-size: 22px;
}

.fusa-disco .i-3x {
    font-size: 3em;
}

.fusa-buscador {
    width: 100vw;
    float: right;
    display: none;
}

.fusa-buscador .input-group-btn .btn {
    font-size: 26.5px;
    width: 45px;
}

.fusa-buscador input {
    height: 51px;
    font-size: 16px;
}

.btn .fusa-descargando-banda { 
    font-size: 15px;
}

.item .gd.fusa-banda-home-nombre {
    background-image: linear-gradient(rgba(0,0,0,0)1%,rgba(0,0,0,1));
}