#contenedorInfoFusa {
    height: 80vh;
}


#login ul.error_list {
    list-style: none;
    padding: 0;
}

#escuchando-lista li a img {
    max-height: 40px;
}

@media (orientation: landscape) {
    .fusa-bread {
        margin-top: 0;
    }
}